

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register </title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="form-container register-container">
            <form id="register-form" action="" method="post">
                {% csrf_token %}
                <h1>Roʻyxatdan oʻtish</h1>

                <!-- Xatolik xabarini ko'rsatish -->
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}

                <input type="text" name="username" placeholder="Username" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Roʻyxatdan oʻtish</button>
                <p class="switch">Hisobingiz bormi? <a href="http://localhost:8000/login">Bu yerdan kiring</a></p>
            </form>
        </div>
    </div>
</body>
</html>
